<h3>Create Customer</h3>
<div class="row justify-content-md-center">
    <div class="col-6 mt-2">
        <div [hidden]="submitted" style="width: 300px;">
            <form (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" required [(ngModel)]="customer.name" name="name">
                </div>

                <div class="form-group">
                    <label for="age">number</label>
                    <input type="text" class="form-control" id="number" required [(ngModel)]="customer.number" name="number">
                </div>

                <div class="form-group">
                    <label for="name">companyName</label>
                    <input type="text" class="form-control" id="companyName" required [(ngModel)]="customer.companyName" name="companyName">
                </div>

                <div class="form-group">
                    <label for="name">email</label>
                    <input type="text" class="form-control" id="email" required [(ngModel)]="customer.email" name="email">
                </div>


                <button type="submit" class="btn btn-success">Submit</button>
            </form>
        </div>

        <div [hidden]="!submitted">
            <h4>You submitted successfully!</h4>
            <button class="btn btn-success" (click)="newCustomer()">Add</button>
        </div>
    </div>
</div>

<div class="row justify-content-md-center">
    <div class="col-12">
        <table class="table table-bordered table-striped table-hover mt-5">
            <thead>
                <tr>
                    <th class="text-center">ID</th>
                    <th class="text-center">name</th>
                    <th class="text-center">email</th>
                    <th class="text-center">number</th>
                    <th class="text-center">companyName</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let customer of customers">
                    <td>{{ customer.id }}</td>
                    <td>{{ customer.name }}</td>
                    <td>{{ customer.email }}</td>
                    <td>{{ customer.number }}</td>
                    <td>{{ customer.companyName }}</td>

                </tr>
            </tbody>
        </table>
    </div>
</div>